# ARCHIVOS DEL SISTEMA OPERATIVO
.DS_Store      # IGNORA ARCHIVO OCULTO DE MACOS
Thumbs.db      # IGNORA ARCHIVO OCULTO DE WINDOWS

# ARCHIVOS TEMPORALES
*.log          # IGNORA ARCHIVOS DE LOG (REGISTRO)
*.tmp          # IGNORA ARCHIVOS TEMPORALES
*.bak          # IGNORA ARCHIVOS DE RESPALDO
*.swp          # IGNORA ARCHIVOS TEMPORALES DE EDITORES DE TEXTO (COMO VIM)

# CONFIGURACIONES DE EDITORES DE CÓDIGO
.vscode/       # IGNORA CONFIGURACIONES DE VISUAL STUDIO CODE
.idea/         # IGNORA CONFIGURACIONES DE INTELLIJ O WEBSTORM
